.title {
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.page, .current__page {
    width: 32px;
    height: 32px;
    color: white;
    margin-right: 5px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    border-radius:30% ;
}

.page:hover {
    border: 1px solid gray;
}

.current__page {
    background-color: blue;
}